<%- include('./partials/head')%>
    <%- include('./partials/adm-header')%>
        <main class="adm-product-main">
            <div class="box-adm-product">
                <div class="container-adm-product">

                    <h2 class="product-h2">Criar Produto</h2>
                    <div class="form-adm-product-create">

                        <form action="/adm/create-product" method="post" enctype="multipart/form-data">
                            <div class="form-elements-adm-product">
                                <label class="label-adm-product">Titulo</label>
                                <input id="name" type="text" name="name" class="input-adm-product"
                                    value="<%= locals.old && old.name %>">
                                <% if(locals.errors && errors.name) { %>
                                    <span class="error-alert-adm">
                                        <%= errors.name.msg%>
                                    </span>
                                    <%}%>
                            </div>
                            <div class="form-elements-adm-product">
                                <label class="label-adm-product">Nome Autor(a)</label>
                                <select required name="author_id" id="author_id" class="input-adm-product select-form ">

                                    <option value="" disabled selected>Selecione</option>

                                    <%for(author of authors){%>
                                        <option class="label-adm-product" value=<%=author.id%>><%=author.name%>
                                                <%=author.last_name%>
                                        </option>
                                        <%}%>
                                            
                                </select>
                            </div>

                       
                            <div class="form-elements-adm-product row-3">
                                <label for="pass" class="label-adm-product">Editora</label>
                                <select required name="publisher_id" class="input-adm-product select-form ">
                                    <option value="" disabled selected>Selecione</option>
                                    <%for(publisher of publishers){%>
                                        <option class="label-adm-product " value=<%=publisher.id%>><%=publisher.name%>
                                        </option>
                                        <%}%>
                                </select>

                            </div>
                            <div class="form-elements-adm-product">
                                <label for="pass" class="label-adm-product">Categoria</label>
                                <select required name="category_id" class="input-adm-product select-form   ">
                                    <option value="" disabled selected >Selecione</option>
                                    <%for(category of categories){%>
                                        <option class="label-adm-product" value=<%=category.id%>><%=category.name%>
                                        </option>
                                        <%}%>
                                </select>
                            </div>
                            <div class="form-elements-adm-product column-3 row-1">
                                <label for="pass" class="label-adm-product">Quantidade</label>
                                <input id="stock" type="number" name="stock" class="input-adm-product"
                                    data-type="number"  value="<%= locals.old && old.stock %>" >
                                    <% if(locals.errors && errors.stock) { %>
                                        <span class="error-alert-adm">
                                            <%= errors.stock.msg%>
                                        </span>
                                        <%}%>
                            </div>
                            <div class="form-elements-adm-product column-3 row-1">
                                <label for="pass" class="label-adm-product">Preço</label>
                                <input id="price" type="text" name="price" class="input-adm-product" data-type="number" value="<%= locals.old && old.price %>">
                                <% if(locals.errors && errors.price) { %>
                                    <span class="error-alert-adm">
                                        <%= errors.price.msg%>
                                    </span>
                                    <%}%>
                            </div>
                            <div class="form-elements-adm-product column-3 row-3">
                                <label for="pass" class="label-adm-product">Capa</label>

                                <div class='input-wrapper input-adm-product'>
                                    <label for='input-file'>
                                        Selecionar uma imagem
                                    </label>
                                    <input id='input-file' name="file" type='file' value='' />
                                    <span id='file-name'></span>
                                </div>
                                

                                <div class="form-elements-adm-product column-3 row-4">
                                    <label for="pass" class="label-adm-product">Sobre</label>
                                    <textarea name="description" id="description" cols="50" rows="5" 
                                        style="background-color:rgba(255, 255, 255, .1);"  ><%= locals.old && old.description %></textarea>
                                        <% if(locals.errors && errors.description) { %>
                                            <span class="error-alert-adm">
                                                <%= errors.description.msg%>
                                            </span>
                                            <%}%>
                                </div>

                                <input type="submit" class="button-adm-product-save" value="Salvar">
                                <div class="form-elements-adm-product-buttons">
                                    <!-- </div>
                                <a href="/adm">
                                    <input type="reset" class="button-adm-product-cancelar" value="Cancelar">
                                </a>
                            </div> -->
                        </form>

                    </div>
                </div>
        </main>

        <%- include('./partials/footer')%>