
  <%- include('./partials/head')%>
  <%- include('./partials/adm-header')%>
  <section class="tab-panel centralizando">
    <h2 class="adm-table-subtitulo adm-title-center">Usuarios</h2>
    <div class="adm-painel-main">
        <div class="adm-content">
            <table class="adm-table-users">
                <thead class="adm-table-users-thead">
                    <tr>
                        <th class="containerTable-lblTitle">Nome</th>
                        <th class="containerTable-lblTitle">Sobrenome</th>
                        <th class="containerTable-lblTitle">E-mail</th>
                        <th class="containerTable-lblTitle">adm </th>
                        <th class="containerTable-lblTitle"> </th>
                    </tr>
                </thead>

                <tbody class="adm-table-users-tbody">
                    <%for(user of users){%>
                    <tr>
                        <td class="containerTable-lblValue"><%=user.name%></th>
                        <td class="containerTable-lblValue">Vale Pedro</td>
                        <td class="containerTable-lblValue">allison.vale@outlook.com</td>
                        <%if(user.is_admin){%>
                            <td class="containerTable-lblValue">Sim</td>                                            
                            <%}else{%>
                                <td class="containerTable-lblValue">Não</td> 
                                <%}%>
                        <td class="containerTable-lblValue btn-opition">

                            <button class="tableValue-btnOption"><a href="/adm/user/<%=user.id%>"
                                    class="editar-detalhe-button">Visualizar</a></button>
                            <button class="tableValue-btnOption">Deletar</button>
                        </td>
                    </tr> 
                    <%}%>  

                </table>
            </tbody>
        </div>
     
            <ul class="page-box">
               <%for(let nrPage = 1; nrPage <= totalPage;nrPage ++){%>
                  <li  class="page-iten"><a  id="pages"class="page-link" href="?page=<%=nrPage%>"><%=nrPage%></a></li> 
                  <%}%>                       
            </ul>  

       
    </section>
</div>
<%- include('./partials/footer')%>