<%- include('./partials/head')%>
<%- include('./partials/header')%>
<section>
  <ul class="banner grid responsive">
    <li><img class="banner-image" src="/img/livroBanner-01-teste.png" alt="Flowers in Chania"></li>
    <li><img class="banner-image" src="/img/livroBanner-02-teste.png" alt="Flowers in Chania"></li>
    <li><img class="banner-image" src="/img/livroBanner-03-teste.png" alt="Flowers in Chania"></li>
    <li><img class="banner-image" src="/img/livroBanner-04-teste.png" alt="Flowers in Chania"></li>
  </ul>
</section>
<main class="main-index">
    <ul class="home-livros grid mt-big responsive ">
      <%products.map((item,i)=>{%>
        <li>
        
         
          <a href="/produto">
            <img src="<%=imgs%>" class="book-image"  alt="capa-livro">
          </a>
          <p class="index-book-title"><%=products[i].product[0].name%></p>
          <span class="index-book-price">R$<%=products[i].product[0].price%></span>
          <button type="submit" class="index-bag-button">+ CARRINHO</button>
        </li>
        <%})%>
     
    </ul>
</main>
  <%- include('./partials/footer')%>