<%- include('./partials/head')%>
<%- include('./partials/header')%>
<main class="main-login">
    <section id="container-signup">
        <h2>Cadastro</h2>
        <form action = "/create" method="post">
          <div class="container-input">
            <label  class="label-login-create" for="nome-id">Nome</label>
            <% if(locals.errors && errors.nome) { %>
              <span class="error-alert"><%= errors.nome.msg%></span>
            <%}%>
            <input type="text" name="nome"  id="nome-id" value="<%= locals.old && old.nome %>" />
          </div>
          <div class="container-input">
            <label  class="label-login-create" for="sobrenome-id">Sobrenome</label>
            <% if(locals.errors && errors.sobrenome) { %>
              <span class="error-alert"><%= errors.sobrenome.msg%></span>
            <%}%>
            <input type="text" name="sobrenome"  id="sobrenome-id" value="<%= locals.old && old.sobrenome %>" />
          </div>

          <div class="container-input">
            <label  class="label-login-create" for="email-id">E-mail</label>
            <% if(locals.errors && errors.email) { %>
              <span class="error-alert"><%= errors.email.msg%></span>
            <%}%>
            <input type="email" name="email" id="email-id"value="<%= locals.old && old.email %>">
          </div>
          <div class="container-input">
            <label  class="label-login-create" for="senha-id">Senha</label>
            <% if(locals.errors && errors.senha) { %>
              <span class="error-alert"><%= errors.senha.msg%></span>
            <%}%>
            <input type="password"  name="senha" id="senha-id" value="<%= locals.old && old.senha %>" />
          </div>

          <div class="container-input">
            <label  class="label-login-create" for="senha-id">Confirmar senha</label>
            <% if(locals.errors && errors.confirmSenha) { %>
              <span class="error-alert"><%= errors.confirmSenha.msg%></span>
            <%}%>
            <input type="password" name="confirmSenha" id="senha-id" value="<%= locals.old && old.confirmSenha %>"  />
          </div>
          
         </div>
        
         <input type="submit" value="Cadastro" />
        <div class="form-login">
          Tem uma Conta? 
          <a class="login-create-a" href="/login">Login</a>
        </div>
        </form>
     </section>
    </main>
<%- include('./partials/footer')%>