<%- include('./partials/head')%>
  <%- include('./partials/header')%>
    <main class="main-login">
      <section id="container-signup">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="container-input">
            <label class="label-login-create" for="email-id">E-mail</label>
                <input type="email" name="email" id="email-id"  value="<%= locals.old && old.email %>"/>
          </div>
          <div class="container-input">
            <label class="label-login-create" for="senha-id">Senha</label>
            <div class = "container-password">
            
                <input type="password" name="senha" id="senha-id" value="<%= locals.old && old.senha %>" />
              
              <div>
                <input class="checkbox-password" type="checkbox" onclick="showPassword()">
              </div>
            </div>
            <% if(locals.error) { %>
              <span class="error-alert"><%= error.message%></span>
            <%}%>
          </div>
          <input class="btn-acessar-painel btn-acessar-painel-texto" type="submit" value="Entrar" />
          
    
        </form>
        <div class="texto-aux" >
          Se não é cadastrado 
          <a class="login-create-a" href="/register">&nbspClique aqui</a>
        </div>
       
      </section>
    </main>
    <%- include('./partials/footer')%>