<%- include('./partials/head')%>
<%- include('./partials/header')%>
<main class="main-product" >
    <div class="imagem responsive2">
      <img id="product-image" src="<%=image%>" width="310px" height="436px" alt="capa-livro"/>
    </div>

    <div class="detalhes responsive2">
      <h1 class="title-book"><%=product.name%></h1>
      <h2 class="author-name"><%=product.author.name%> <%=product.author.last_name%> </option>
      </h2>
      <h1 id="preço">R$ <%=product.price%></h1>
      <div>

        <a href="/compra"><button class="button-purchase" type="submit">Adcionar</button></a>
        <a class="button-purchase" href="javascript:window.history.go(-1)">Voltar</a>
 
      </div>
    </div>

    <div class="sinopse responsive2">
      <h2 id="sinopse-title">Sobre</h2>
      <p id="sinopse-text">
        <%=product.description%>
      </p>
    </div>
  </main>
<%- include('./partials/footer')%>